@model Nabil.Models.ApplicationUser
@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie</h2>
<center>
    <h3>Czy na pewno usunąć tego użytkownika?</h3>
    <div>
 
        <h3>@Html.DisplayFor(model => model.UserName)</h3>
        <h3>@Html.DisplayFor(model => model.Email)</h3>

        <br /><br /><br /><br />
        @using (Html.BeginForm("Delete", "Account", new { id = Model.Id }))
        {

            <div class="form-actions no-color">
                <center>
                    <input type="submit" value="Usuń" data-confirm="Usunąć?" class="btn btn-default" />
                </center>
            </div>
        }
        @Html.HiddenFor(m => m.Id)
        @Html.AntiForgeryToken()

    </div>
</center>

@Html.ActionLink("Powrót do listy", "Index")


@section scripts
{
    @Scripts.Render("~/bundles/jquery")

    <script>
        jQuery(document).ready(function () {
            jQuery('[data-confirm]').click(function (e) {
                if (!confirm(jQuery(this).attr("data-confirm"))) {
                    e.preventDefault();
                }
            });
        });
    </script>
}

