@using System.Activities.Statements
@using Nabil.Models
@model Nabil.ViewModels.DishFormViewModel

@{
    ViewBag.Title = "Nowe Danie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FormType</h2>

@using (Html.BeginForm("SavePhoto", "Dishes", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{


    <div class="form-group">

        @Html.LabelFor(m => m.ImgUrl)
        <input type="file" name="UploadImage" id="UploadImage" />

    </div>

    <button type="submit" class="btn btn-primary">Zapisz zmiany</button>

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

}

@section scripts
{
    @Scripts.Render("~/bundles/jquery")
}
