@model Nabil.Models.Dish

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Name)</h2>
<img src='@Url.Content("~/Content/Images/Dishes/" + Model.ImgUrl.ToString())' id="danie_imgA" />
<p class="opis_daniaA">@Html.DisplayFor(model => model.Description) </br></br>

    <div class="waga_cenaA">
        @Html.DisplayFor(model => model.Weight) g - @Html.DisplayFor(model => model.Price) zł
        / @if (Model.WeightSmall.HasValue) 
          {
          
              @Html.DisplayFor(model => model.PriceSmall)
          } g - @if (Model.WeightSmall.HasValue)
                {
        <span>@Html.DisplayFor(model => model.WeightSmall) zł</span>
                    
                }  
    </div>
</p>


</br><div class="składnikiA"><h3>Składniki:</h3>
    ojoijiijji
    
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Powrót do listy", "Index")
</p>