@using Nabil.Models
@model Nabil.ViewModels.DishDetailsViewModel

@{
    ViewBag.Title = "Szczegóły";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Html.DisplayFor(model => model.Dish.Name)</h2>
<div id="opis_containerA">
    <img src='@Url.Content("~/Content/Images/Dishes/" + Model.Dish.ImgUrl.ToString())' id="danie_imgA" />
    <div class="opis_daniaA">
        @if (Model.Dish.Description != null)
        {
            <span>@MvcHtmlString.Create(Model.Dish.Description.Replace(Environment.NewLine,"<br />"))</span>
        }</br></br>

        <div id="waga_cenaA">
            @if (Model.Dish.Size1 != null)
            {
                <span>@Html.DisplayFor(model => model.Dish.Size1) - </span>
            }
            @Html.DisplayFor(model => model.Dish.Price) zł
            <img src='@Url.Content("~/Content/Images/listek3.png")' />
            @if (Model.Dish.Size2 != null)
            {
                <span>@Html.DisplayFor(model => model.Dish.Size2) </span>
            }
            @if (Model.Dish.PriceSmall.HasValue)
            {
                <span> - @Html.DisplayFor(model => model.Dish.PriceSmall) zł</span>
            }
        </div>
    </div>
</div>

<div id="składnikiA">
    <h3 id="składniki_tytułA">Składniki:</h3>

    @foreach (Ingredient i in Model.Ingredients)
    {<div class="containerB">
         <img src='@Url.Content("~/Content/Images/Ingredients/"+ i.ImgUrl)' class="skladnikiimgA" />
     </div> }
</div>
</br></br><p id="powrót">
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Powrót do listy", "Index")
</p>