@model Nabil.Models.Dish

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Szczegóły</h2>

<div>
    <h4>Danie:</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Weight)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Weight)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kcal)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kcal)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.GluteFree)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GluteFree)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Price)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Price)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DishType)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DishType)
        </dd>
        @if (Model.ImgUrl != null)
        {
            <dt>
                @Html.DisplayNameFor(model => model.ImgUrl)
            </dt>

            <dd>
                <img src='@Url.Content("~/Content/Images/Dishes/" + Model.ImgUrl.ToString())'/>
            </dd>
        }
       

    </dl>
</div>
<p>
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |*@
    @Html.ActionLink("Powrót do listy", "Index")
</p>
