@using Nabil.Models
@model IEnumerable<Nabil.Models.Dish>

@{
    ViewBag.Title = "Menu";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<h2>Menu</h2>

@if (!Model.Any())
{
    <p>Nie mamy jeszcze żadnych dań w naszej karcie</p>
}
else
{
    <table class="tab1A">
        <thead>
            <tr>
                <th>ID</th>
                <th>Nazwa</th>
                <th>Edytuj</th>
                <th>Zmień zdjęcie</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var dish in Model)
            {
                <tr>
                    <td> @dish.Id</td>
                    <td>@Html.ActionLink(dish.Name, "Details", "Dishes", new { id = dish.Id }, null)</td>
                    <td>@Html.ActionLink("Edytuj", "Edit", "Dishes", new { id = dish.Id, @type = "submit", @class = "btn btn-primary" }, null)</td>
                    <td>@Html.ActionLink("Zmień zdjęcie", "ChangePhoto", "Dishes", new { id = dish.Id, @type = "submit", @class = "btn btn-primary" }, null)</td>
                </tr>
            }
        </tbody>
    </table>
}
<br />
<button onclick="location.href = '@Url.Action("New", "Dishes")';" , class="btn btn-primary">Dodaj danie</button>