@model Nabil.Models.IndexViewModel
@{
    ViewBag.Title = "Zarządzaj kontem";
}

<h2>@ViewBag.Title</h2>

<p class="text-success">@ViewBag.StatusMessage</p>
<div>
    <center>
        <br />
        <h3>Dane osobowe:</h3>
        <br />
        <table class="tab2A">
            <tr>
                <th>Imię:</th>
                <td>@Model.FirstName</td>
            </tr>
            <tr>
                <th>Nazwisko:</th>
                <td>@Model.LastName</td>
            </tr>
            <tr>
                <th>Nazwa użytkownika:</th>
                <td>@Model.UserName</td>
            </tr>
            <tr>
                <th>Telefon:</th>
                <td>@Model.PhoneNumber</td>
            </tr>
            <tr>
                <th>Hasło:</th>
                <td>
                    @if (Model.HasPassword)
                    {
                        <span class="action_buttonA">@Html.ActionLink("Zmień hasło", "ChangePassword")</span>
                    }
                    else
                    {
                        <span class="action_buttonA">@Html.ActionLink("Create", "SetPassword")</span>
                    }
                </td>
            </tr>
            <tr>
                <th>Dane:</th>
                <td><span class="action_buttonA">@Html.ActionLink("Aktualizuj dane", "Edit", "Manage", new { id = Model.UserId, @type = "submit", @class = "btn btn-primary" }, null)</span></td>

            </tr>
        </table>
    </center>
</div>
