@using System.Activities.Statements
@using Nabil.Models
@model Nabil.ViewModels.IngredientFormViewModel


@{
    ViewBag.Title = "ChangePhoto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@Model.FormType</h2>

@using (Html.BeginForm("SavePhoto", "Ingredients", FormMethod.Post,
    new { enctype = "multipart/form-data" }))
{


<div class="form-group">

    @Html.LabelFor(m => m.ImgUrl)
    <input type="file" name="UploadImage" id="UploadImage" />

</div>


<input type="submit" class="btn btn-primary" data-confirm="Zapisać zmiany?" value="Zapisz zmiany">


<br />
<br />
<br />
    @Html.ActionLink("Powrót do listy", "Index")

    @Html.HiddenFor(m => m.Id)
    @Html.AntiForgeryToken()

}

@section scripts
{
    @Scripts.Render("~/bundles/jquery")

<script>
    jQuery(document).ready(function () {
        jQuery('[data-confirm]').click(function (e) {
            if (!confirm(jQuery(this).attr("data-confirm"))) {
                e.preventDefault();
            }
        });
    });
</script>
}
