@model Nabil.Models.Ingredient

@{
    ViewBag.Title = "Usuwanie";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuwanie</h2>
<center>
    <h3>Czy na pewno usunąć ten składnik?</h3>
    <div>
        <dl class="dl-horizontal">
            <dd>
                <h3>>@Html.DisplayFor(model => model.Name)<</h3>
            </dd>
        </dl>

        @using (Html.BeginForm("Delete", "Ingredients", new { id = Model.Id }))
        {

            <div class="form-actions no-color">
                <center>
                    <input type="submit" value="Usuń" data-confirm="usunąć?" class="btn btn-default" />
                </center>
            </div>
            @Html.AntiForgeryToken()
        }
        @Html.HiddenFor(m => m.Id)


    </div>
</center>

@Html.ActionLink("Powrót do listy", "Index")


@section scripts
{
    @Scripts.Render("~/bundles/jquery")

    <script>
        jQuery(document).ready(function () {
            jQuery('[data-confirm]').click(function (e) {
                if (!confirm(jQuery(this).attr("data-confirm"))) {
                    e.preventDefault();
                }
            });
        });
    </script>
}

